/*General layout*/

.body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f5f7;
  display: flex;
}

/*Sidebar*/

.sidebar {
  width: 220px;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar .h4 {
  color: #828fa3;
  font-size: 12px;
  margin: 0;
}

.button {
  padding: 10px;
  background-color: #635fc7;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
}

.button:hover {
  background-color: #4b46a3;
}

/*Main content*/

.header {
  padding: 20px;
}

.heading {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.columns {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.column {
  flex: 1;
}

.column-header {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  font-weight: bold;
  color: #828fa3;
  margin-bottom: 10px;
}

.todo-dot {
  background-color: #49c4e5;
}
.doing-dot {
  background-color: #8471f2;
}
.done-dot {
  background-color: #67e2ae;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}
